.main {
    margin-top: 50vh;
    margin-bottom: 50vh;
    position: relative;
}

.cardContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

.card {
    position: relative;
    width: 1000px;
    height: 500px;
    border-radius: 25px;
    background-color: #1e1e1e;
    overflow: hidden;
    transform-origin: top;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.imageWrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1024px) {
    .card {
        width: 90%;
        height: 60vw;
    }
}